* {
    font-family: Arial; /* Define todos os elementos do site com fonte Arial. */  
}
body {
    margin: 0; /* Remove as margens automáticas que vem por padrão. */
    padding: 0; /* Remove o espaçamento automático que vem por padrão. */
}
header {
    display: flex; /* Permite o uso de Flexbox. */
    justify-content: center; /* Indica o alinhamento do Flexbox no centro da tela. */
    height: 120px; /* Altura do container. */
}
.container {
    display: flex; /* Permite o uso de Flexbox. */
    justify-content: space-between; /* Separar as divs nos dois extremos no container. */
    width: 990px; /* Largura do container. */
}
.logo {
    display: flex; /* Permite o uso de Flexbox. */
    align-items: center;  /* Alinha o conteúdo da div ao centro. */
}
.menu {
    display: flex; /* Permite o uso de Flexbox. */
    align-items: center; /* Alinha o conteúdo da div ao centro. */
}
nav ul, 
nav li {
    list-style: none; /* Remove os marcadores do menu (pontinho na frente do texto). */
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex; /* Permite o uso de Flexbox. */
}
nav a {
    display: block; /* Permite editar melhor este objeto. */
    padding: 15px; /* Adiciona espaço interno separando os elementos. */
    text-decoration: none; /* Remove o estilo padrão do elemento. */
    text-transform: uppercase; /* Coloca o texto com letras maiúsculas mesmo que esteja minúscula no HTML. */
    color: #727272; /* Formata cor do texto. */
}
nav .active a, 
nav a:hover {
    background-color: #39AAE1;
    color: #FFFFFF;
}
#banner {
    display: flex; /* Permite o uso de Flexbox nessa div. */
    justify-content: center; /* Centraliza a div. */
    background-image: url('../images/banner.jpg'); /* Adiciona uma imagem de fundo. */
    background-position: center; /* Posiciona a imagem no centro. */
    background-size: cover; /* Ajusta a imagem em proporção de acordo com o dispositivo utilizado. Em monitores grandes expande a imagem e em monitores pequenos reduz a imagem. */    
    height: 670px;
}
.column {
    flex-direction: column; /* Direciona as divs a ocupar o espaço em colunas. */
}
.banner_headline {
    flex: 1; /* Espaço que a div vai ocupar. */
    display: flex; /* Posiciona o texto um ao lado do outro. */
    flex-direction: column; /* Posiciona o texto um abaixo do outro. */
    justify-content: center; /* Centraliza a div. */
}
.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555; /* Aplica um efeito de sombra no texto. */
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555; /* Aplica um efeito de sombra no texto. */
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {
    height: 210px; /* Possui altura fixa. Em dispositivos com telas menores a altura permanece a mesma. */
    display: flex; /* Permite a utilização de Flexbox. */
}
.banner1, 
.banner2, 
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
.banner1 {
    background-color: #39AAE1;
}
.banner2 {
    background-color: #0079C7;
}
.banner3 {
    background-color: #2B4C99;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}
.banner_day {
    font-size: 13px;
    margin-top: 25px;
    border-bottom: 1px solid #708090;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Alinha conteúdos nos extremos da div. */
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_body_quadrado {
    display: flex;
}
.dpt_left div {
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
    margin-top: 20px;
}
.dpt_right div {
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
    margin-top: 20px;
    float: right;
}
.MA_Content_Text {
    color: #5C5C5C;
    display: flex;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}
.MA_Content_Contact {
    color: #5C5C5C;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}
.MA_Contact {
    display: flex;
    color: #5C5C5C;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    align-items: center;
}
.MA_Content a {
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}
.MA_Content img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
aside .news_posted_at {
    display: flex;
    justify-content: space-between; /* Permite elementos espaçados dentro de uma mesma div. */
    background-color: #2B4C99;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36A9E1;
    margin-top: 10px;
}
.widget_collection {
    color: #5C5C5C;
    font-size: 14px;
    margin-top: 15px;
    border-bottom: 1px solid #708090;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.symbol_more {
    font-size: 20px;
}
.flex {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar a div. */
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2B4C99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}
article .news_coments {
    background-color: #39AAE1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume {
    color: #5C5C5C;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 30px;
}
footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center
}
.footer_menu {
    display: flex;
}
.fm_1, 
.fm_2, 
.fm_3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
.fm_1 {
    background-color: #39AAE1;
}
.fm_2 {
    background-color: #0079C7;
}
.fm_3 {
    background-color: #2B4C99;
}
.footer_title {
    font-size: 21px;
}
.footer_desc {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer_area {
    display: flex;
}
.footer_box_title {
    font-size: 21px;
}
.footer_box_desc {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}
.icon_flecha {
    padding-left: 10px;
}
.medicenter_text {
    color: #5c5c5c;
    font-size: 12px;
    margin-right: 10px;
}
.medicenter_contact_title {
    margin-top: 25px;
    font-size: 12px;
    color: #5c5c5c;
}
.medicenter_cols {
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #5c5c5c;
    font-size: 12px;
    margin-right: 15px;
}
.medicenter_icons {
    display: flex;
    margin-top: 20px;
}
.medicenter_icons_space {
    margin-right: 9px;
}
.medicenter_icons_space img {
    width: 20px;
}
.lasted_post {
    display: flex;
    margin-top: 15px;
}
.flecha_title {
    padding-right: 10px;
}
.flecha_title img {
    width: 18px;
}
.lasted_title {
    display: flex;
    flex: 1;
    font-size: 12px;
    color: #5c5c5c;
    margin-right: 20px;
}
.lasted_post_date {
    display: flex;
    color: #39aae1;
    font-size: 12px;
    margin-top: 5px;
}
.lasted_tweet {
    display: flex;
    margin-top: 15px;
}
.tweet_title {
    display: flex;
    flex: 1;
    font-size: 12px;
    color: #5c5c5c;
    margin-right: 20px;
}
.lasted_tweet_date {
    display: flex;
    color: #39aae1;
    font-size: 12px;
    margin-top: 5px;
}
.footer_areaitem {
    flex: 1;
    color: #FFFFFF;
}
.flexColumn {
    flex-direction: column;
}
footer .widget_title_text {
    color: #FFFFFF;
}
.footer_copy {
    border-top: 1px solid #2C2C2C;
    height: 40px;
    line-height: 40px;
    color: #5C5C5C;
    font-size: 14px;
    margin-top: 30px;
}
.menuMobile {
    display: none;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.mm_line {
    justify-content: space-between;
    height: 3px;
    background-color: #39AAE1;
}

/* Faz com que o site seja redimensionado ao atingir essas medidas. */
@media (max-width: 600px) {
    #banner {
        height: auto;
    }
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column; /* Posiciona os elementos um abaixo do outro. */
    }
    #geral section, #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column; /* Posiciona os elementos um abaixo do outro. */
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column; /* Posiciona os elementos um abaixo do outro. */
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 20px;
    }
}